/*div { outline: .1rem solid red; }*/

:root {
  --my_primary_color: #B8860B;
  --my_secondary_color: #E0E0E0;
  --my_black: #000000;
  --my_light_black: #111111;
  --my_grey: #808080;
  --my_red: #FF0000;
  --my_medium_size: .6rem;
  --my_small_size: .4rem;
  --my_very-small_size: .25rem;
  --my_header_height: 2.75rem;
  --my_header_font: 1.5rem;
  --my_main_font: 1.25rem;
  --my_footer_font: .75rem;
  --my_background: url('src/assets/background.svg')
}

html {height: 100%;}

body {
  background: linear-gradient(15deg, var(--my_grey), var(--my_light_black));
  color: var(--my_secondary_color);
  font-family: Open Sans, sans-serif;
  font-size: var(--my_main_font);
  margin: var(--my_medium_size);
}